body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url(/image/texture\ 1.png);
}


/* Navigation Bar Styles */
.navbar {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    border: black 1px solid;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Just Me Again Down Here', cursive;
    position: absolute;
    left: 55px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.menu-icon {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    position:fi ;
    left: 1450px;
    margin: 10px;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0 20px;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


/* Full Width Image Section Styles */
.image-section {
    width: 100%;
    height: 100vh; /* Adjust the height based on your needs */
    background-image: url('style.css'); /* Replace 'your-image-url.jpg' with your actual image URL */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Text color on top of the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Additional styles can be added based on your design preferences */
.buggy{
    color: #159D09;
}
.img-logo{
    display: inline-block;
}
.image-section {
  position: relative;
  width: 100%;
  max-width: 100%; /* Adjust as needed */
  overflow: hidden;
}

.image-section img{
  height: 100%;
  object-fit: cover;
}
.img-text{
  text-align: center;
  font-weight: 300;
  text-align: center;
  font-size: 2.5rem;
  padding: 4rem 3rem;
  font-family: "mirza";
}

.main-text{
  color: #ffffff;
  text-shadow: 0px 4px 4px #000;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;

}

.text-section{
  font-size: 3rem;
}

.fade {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeinout 12s infinite; /* Adjust as needed based on your animation duration */
  object-fit: fill;
}

.fade:nth-child(1) {
  animation-delay: 0s;
}

.fade:nth-child(2) {
  animation-delay: 4s; /* Adjust as needed based on your animation duration */
}

.fade:nth-child(3) {
  animation-delay: 8s; /* Adjust as needed based on your animation duration */
}

/* Add more nth-child rules for additional images */

@keyframes fadeinout {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
.animated-text {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}



/* carousel style */
.gallery{
  width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.gallery-wrap img{
  width: 30px;
}

.gallery div img{
  width: 300px;
  height: 100%;
  padding: 10px;
  border-radius: 1.8rem;
}

.gallery-contents-section{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 25px 25px;
}

.gallery-button button{
    border: none;
    background: #a4eea4;
    padding: 15px 100px;
    border-radius: 0.5rem;
}

.gallery-text{
  padding: 10px;
  color: #000;
  font-family: 'Koulen', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%; /* 21.6px */
  letter-spacing: 0.2px;
}

.gallery-button{
  display: flex;
  flex-direction: column;
}

/* dot pagination */

.dot-container {
  text-align: center;
  padding: 5px 10%;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #717171;
}
.border-line{
  border-radius: 56px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

@media(max-width: 600px){
  .main-text{
    grid-template-columns: 1fr;
  }
  .text-section{
    font-size: 2rem;
  }
  .gallery-contents-section{
    width: 90%;
    padding: 5%;
  }
  .gallery-button button{
    padding: 20px 50px;
    width: 200px;
  }
  .gallery div img{
    width: 200px;
    height: 300px;
  }
  .whatsup-icon img{
    width: 75px;
  }
}
/*  Review section*/

.review-page{
  width: 100%;
  height: 90%
}
.review-wrap{
  display: flex;
  align-items: center;
}
.review-page .cards {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  padding: 50px;
  scroll-behavior: smooth;
}

.review-page .cards::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.review-page .card {
  min-width: 300px;
  height: 250px;
  margin-right: 20px; /* Adjust based on your design preference for space between cards */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* A touch of shadow for depth, adjust as you like */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

/* Ensuring the last card aligns nicely without extra space */
.review-page .card:last-child {
  margin-right: 0;
}

/* Optional: If you want to ensure the cards have a uniform look */
.card-above-section, .card-below-section {
  padding: 10px; /* Adjust padding as needed */
}

.profile-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30px;
}

.card-below-section{
  display: grid;
  grid-template-columns: 1fr 3fr;

}
.review-head{
  padding: 50px 0 0 50px;
}

.footer{
  display: grid;
  height: 100vh;
  grid-template-rows: 2fr 1fr 2fr 1fr;
  background-color: black;
  color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-content: center;
    font-size: 1.5rem;
    padding: 50px;
    align-items: center;
    text-align: center;
}
.content-above{
  width: 70%;
  padding: 20px;
}
.content-below{
  display: grid;
  width: 70%;
  place-content: center;
}
.footer-logo{
  display: grid;
  place-content: center;
}

.footer-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-links a{
  text-decoration: none;
  color: white;

}
.footer-rightsection{
  display: grid;
  place-content: center;
  font-weight: lighter;
  font-size: 1rem;
}
.whatsup-icon img{
  width: 50px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 999;
}
